* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    -webkit-box-sizing: border-box;
}

body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */


textarea.form-control {
    padding: 5px 10px;
}

input.form-control {
    height: 32px;
}

.modelDisplayFor {
    margin-top: 7px;
}

a.navbar-brand img {
    padding-left: 15px;
}

div.container {
    margin-top: 50px;
}

div.item {
    float: left;
    min-height: 500px;
}

img, textarea {
    width: 100%;
}

span.select2-container--default .select2-selection--multiple,
span.select2-container--default .select2-selection--single,
textarea {
    border: 1px solid #ccc;
}

    span:focus, textarea:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    }

.redFont {
    color: red;
}

table tr:nth-child(even) {
    background-color: #f7f7f7;
}

table tr:hover {
    background-color: #cecece;
}

.nonpadding label.control-label {
    line-height: 20px;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    white-space: nowrap;
    display: block;
    text-align: right;
    padding-right: 0;
}

.nonpadding label {
    padding: 0 0 0 5px;
    margin-bottom: 5px;
}

.nonpadding div {
    padding: 0 0 0 5px;
    margin-bottom: 5px;
}

span.select2-container .select2-selection--single {
    height: 32px;
}

.bf-caption {
    /*background-color: #f3f3f3;*/
}

    .bf-caption > a {
        color: #3e3e3e;
    }

    .bf-caption h4 {
        margin: 0;
        padding: 10px 0;
        border-bottom: solid 3px #8e8e8e;
    }

    .bf-caption p {
        font-size: 12px;
        text-align: justify;
        margin: 5px 0;
    }

div.thumbnail {
    margin-bottom: 0;
}

div#imgche {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    color: white;
}

    div#imgche > i.fa {
        position: absolute;
        top: 5px;
        left: 5px;
    }

div.imgdiv {
    padding: 5px;
    transition: padding 0.2s linear;
    text-align: center;
}

div.selected {
    /*border: 2px solid #30546d;*/
    border-radius: 5px;
    color: #333333;
    /*margin-bottom: 8px;*/
}

    div.selected #imgche {
        /*background: linear-gradient(135deg, #30546d 38px, rgba(255, 255, 255, 0) 0);*/
        background: linear-gradient(135deg, #30546d 45px, rgba(48, 84, 109, 0.5) 0);
        font-size: 30px;
        z-index: 1;
    }

.table {
    margin-bottom: 10px;
}

.grid-item {
    padding: 4px;
}

.numberprice {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

    .numberprice input[type=number] {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        /*cursor: pointer;*/
    }

.copy {
    cursor: pointer;
    text-decoration: underline;
    color: #138200;
    margin-left: 10px;
}

.glyphicon-copy {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    cursor: pointer;
}

    .glyphicon-copy + .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #8c8c8c;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }

    .glyphicon-copy:hover + .tooltiptext {
        visibility: visible;
    }

@media not screen {
    table td:last-child div {
        visibility: visible;
    }
}
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .dl-horizontal {
        columns: 2;
        -moz-columns: 2;
        -o-columns: 2;
        -webkit-columns: 2;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    table td:last-child div {
        visibility: hidden;
    }

    table tr:hover td:last-child div {
        visibility: visible;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .dl-horizontal {
        columns: 3;
        -moz-columns: 3;
        -o-columns: 3;
        -webkit-columns: 3;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}
