@model List<EG_MagicCube.Models.WorksFilesModel.FileGroup>

<h2>圖片集</h2>
@if (Model != null && Model.Count() > 0)
{
    <div class="grid">
        @foreach (var item in Model)
        {
            <div class="grid-item col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div @*style="line-height:250px;"*@>
                    <img data-high-res-src="@item.File_o_Url" class="gallery-items img-responsive img-thumbnail img-fluid" style="max-width:800px;" data-original="@item.File_s_Url" />
                </div>
            </div>
        }
    </div>
}

