@model List<EG_MagicCube.Models.WorksFilesModel.FileGroup>

<h2>　</h2>
@if (Model != null && Model.Count() > 0)
{
    <div class="grid">
        @foreach (var item in Model)
        {
            <div class="grid-item col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <div @*style="line-height:250px;"*@>
                    <img src="@item.File_m_Url" data-high-res-src="@item.File_o_Url" class="gallery-items img-responsive img-thumbnail img-fluid" style="max-width:800px;"/>
                </div>
            </div>
        }
    </div>
}

