<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="EG_MagicCubeEntities" connectionString="metadata=res://*/EG_MagicCubeEntity.csdl|res://*/EG_MagicCubeEntity.ssdl|res://*/EG_MagicCubeEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.75.18;initial catalog=EG_MagicCube;persist security info=True;user id=vip;password=vip;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="EG_MagicCubeEntities" connectionString="metadata=res://*/EG_MagicCubeEntity.csdl|res://*/EG_MagicCubeEntity.ssdl|res://*/EG_MagicCubeEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=esliteegmc.database.windows.net;initial catalog=EG_MagicCube;persist security info=True;user id=egmc;password=MGcube@)!&amp;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>

  <appSettings>
   
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=egmcblob;AccountKey=ic4Ev8MyafUIS6TXXWYC4aROKftDpAVJlsRevE3ECvxCMMfCDt95WUBVUXZjBhxqyqFmtXvymCQo0H4HlFXyLw==;EndpointSuffix=core.windows.net" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>