@model IEnumerable<EG_MagicCube.Models.ViewModel.MenuViewModels>

@{
    ViewBag.Title = "選項維護";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>標籤設定</h2>

@using (Html.BeginForm())
{
    <div class="form-group">

        <div class="col-md-offset-1 col-md-10">
            <label class="control-label">標籤類別</label>@Html.DropDownList("MenuClass", (IEnumerable<SelectListItem>)ViewBag.MenuClassList, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">

        <div class="col-md-offset-1 col-md-10">
            <label class="control-label">標籤名稱</label><input class="form-control" id="MenuName" name="MenuName" />
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <div class="col-md-offset-5 col-md-7">
            <input type="hidden" id="whosubmit" name="whosubmit" />
            <input type="hidden" id="MenuNo" name="MenuNo" />
            <br />
            <input type="submit" value="儲存" class="btn btn-primary" id="btnSave" />
            <input type="submit" value="取消" class="btn btn-warning" id="btnCancel" />
            <input type="submit" value="新增" class="btn btn-success" id="btnaddnew" />
            <input type="submit" value="查詢" class="btn btn-info" id="btnsearch" />

        </div>
    </div><br />

}
<div class="col-md-offset-1 col-md-10 MenuTags" style="margin-top: 20px;">
    @foreach (var item in Model)
    {
        <span data-class="@item.MenuClass" data-no="@item.MenuNo" class="tag label label-default MenuName">@item.MenuName　<i class="fa fa-times fa-2x del" aria-hidden="true"></i></span>
    }
</div>
@section Scripts {
    <script>
        $(function () {
            $("#btnSave").hide();
            $("#btnCancel").hide();
            $("#btnaddnew,#btnsearch,#btnCancel,#btnSave").on("click", function (e) {
                $("#whosubmit").val(this.id);
            });
            $(".MenuTags .del").on("click", function (e) {
                e.stopPropagation();
                if (confirm("確定刪除?")) {
                    $("#whosubmit").val("btndel");
                }
                $("#MenuNo").val($($(this).parent()).data("no"));
                $("form").submit();
            });

            $(".MenuTags .MenuName").on("click", function (e) {
                
                e.stopPropagation();
                $(".MenuTags .MenuName").removeClass("act");
                $(this).addClass("act");
                $("#MenuName").val($(this).text().replace("　", ""));
                $("#MenuNo").val($(this).data("no"));
                $("#MenuClass").val($(this).data("class"));
                $(".MenuTags").show();
                $("#btnSave").show();
                $("#btnCancel").show();
                $("#btnaddnew").hide();
                $("#btnsearch").hide();
                //$(this).text().replace("　","")
                //$(this).data("no")
                //$(this).data("class")
            });
            $("#MenuClass").on("change", function () {
                $("form").submit();
            });

            $("#btnCancel").on("click", function () {
                $(".MenuTags").show();
                $("#btnSave").hide();
                $("#btnCancel").hide();
                $("#btnaddnew").show();
                $("#btnsearch").show();
            });
        });
    </script>
}