@model IEnumerable<EG_MagicCube.Models.ViewModel.MenuViewModels>

@{
    ViewBag.Title = "選項維護";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .tags {
        list-style: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
    }

        .tags li {
            float: left;
        }

    .tag {
        background: #eee;
        border-radius: 3px 0 0 3px;
        color: #999;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        padding: 0 20px 0 23px;
        position: relative;
        margin: 0 10px 10px 0;
        text-decoration: none;
        -webkit-transition: color 0.2s;
    }

        .tag::before {
            background: #fff;
            border-radius: 10px;
            box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
            content: '';
            height: 6px;
            left: 10px;
            position: absolute;
            width: 6px;
            top: 10px;
        }

        .tag::after {
            background: #fff;
            border-bottom: 13px solid transparent;
            border-left: 10px solid #eee;
            border-top: 13px solid transparent;
            content: '';
            position: absolute;
            right: 0;
            top: 0;
        }

        .tag:hover {
            background-color: crimson;
            color: white;
        }

            .tag:hover::after {
                border-left-color: crimson;
            }
</style>
<h2>選項維護</h2>

@using (Html.BeginForm())
{
    <div class="form-group">

        <div class="col-md-offset-1 col-md-10">
            <label class="control-label">選項類別</label>@Html.DropDownList("MenuClass", (IEnumerable<SelectListItem>)ViewBag.MenuClassList, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">

        <div class="col-md-offset-1 col-md-10">
            <label class="control-label">名稱</label><input class="form-control" id="MenuName"   name="MenuName"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-5 col-md-7">
            <input type="hidden" id="whosubmit" name="whosubmit" />
            <input type="submit" value="新增" class="btn btn-default" id="btnaddnew" />
            <input type="submit" value="查詢" class="btn btn-default" id="btnsearch" />
        </div>
    </div>

}
<div class="col-md-offset-1 col-md-10" style="margin-top: 20px;">
    @foreach (var item in Model)
    {
        <span class="tag label label-default">@item.MenuName　<i class="fa fa-times fa-2x" aria-hidden="true"></i></span>
    }
</div>
@section Scripts {    
    <script>
        $(function () {
            $("#btnaddnew,#btnsearch").on("click", function () {
                $("#whosubmit").val(this.id);
            });
        });
    </script>
}